<ion-view view-title="忘记密码">
    <ion-content scroll="true" class="lost-psd">
        <div class="heading1">请输入注册邮箱，我们将把验证码发送到该邮箱。</div>
        <div class="seperator"></div>
        <div class="login-form">
            <div class="login-pad">
                <form ng-disabled="isSending">
                    <input type="email" placeholder="邮箱" ng-model="user.email" required="">
                    <input type="submit" value="发送" ng-click="fetchPassword(user)">
                </form>
            </div>
        </div>
        <div ng-if="isSending">
            <ion-spinner icon="bubbles" style="position:relative;left:47%;top:47%"></ion-spinner>
        </div>
    </ion-content>
</ion-view>