<ion-view view-title="{{title}}">
    <ion-nav-title>
        {{title}}
    </ion-nav-title>
    <ion-content scroll="true" class="scroll-bg loading">
        <div ng-if="searchNoResults" style="position:relative;left:25%;top:47%">
            很遗憾，未搜到符合条件的结果
        </div>
        <ion-list ng-if="!searchNoResults">
            <ion-item class="product has-content item-icon-right"
                      collection-repeat="product in products"
                      item-width="50%"
                      item-height="65%"
                      type="item-text-wrap" href="{{detailUrl}}{{product.id}}">
                <div class="item-body">
                    <img ng-src="{{product.images[0]}}">
                    <div class="description">
                        <h3>{{product.title}}</h3>
                        <p>{{product.brandLabel}}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
